* {
  box-sizing: border-box;
}
:root{
  --primary: #2f4156;
  --warm: #FD7E14;
  --lin: linear-gradient(17deg, #8195a1 10%, #9ba6b0a1 100%);
  --text: #F5EFED;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
